<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jeelu.android.app.socketplus"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

    <application
        android:name="com.jeelu.android.app.socketplus.common.GuiceApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/socketplus_theme" >
        <activity
            android:name="com.jeelu.android.app.socketplus.WelcomeActivity"
            android:label="@string/title_activity_welcome" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jeelu.android.app.socketplus.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="com.jeelu.android.app.socketplus.OptionActivity"
            android:label="@string/title_activity_option" >
        </activity>
        <activity
            android:name="com.jeelu.android.app.socketplus.TCPClientActivity"
            android:label="@string/title_activity_tcpclient" >
        </activity>
        <activity
            android:name="com.jeelu.android.app.socketplus.UDPServerActivity"
            android:label="@string/title_activity_udpserver" >
        </activity>
        <activity
            android:name="com.jeelu.android.app.socketplus.TCPServerActivity"
            android:label="@string/title_activity_tcpserver" >
        </activity>
        <activity
            android:name="com.jeelu.android.app.socketplus.UDPClientActivity"
            android:label="@string/title_activity_udpclient" >
        </activity>
        <activity
            android:name="com.jeelu.android.app.socketplus.ProtocolManagerActivity"
            android:label="@string/title_activity_protocol_manager" >
        </activity>
        <activity
            android:name="com.jeelu.android.app.socketplus.LeftHandToolboxActivity"
            android:label="@string/title_activity_left_hand_toolbox" >
        </activity>
    </application>

</manifest>